.select2-selection__choice{
    background-color: #333 !important;
}

.image_detail_product{
    width: 100%;
    object-fit: cover;
}

.feature_image_detail, .feature_image_container{
    margin-top: 20px;
}